input {
    border: none;
    border: 1px solid rgba(89, 118, 121, 0.3);
    height: 25px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 16px;
    width: 100%;
    transition: .5s;
    &:focus {
        outline: none;
        background-color: hsla(195, 53%, 79%, 0.274);
        font-size: 16px;
    }
}